


	<footer>

		<p>
			<span style="text-align:left;float:left">&copy; 2019 <a href="#" alt="Bootstrap Themes">The Michaels</a></span>
			<span class="hidden-phone" style="text-align:right;float:right">Powered by: <a href="#" alt="Bootstrap Admin Templates">The great programmers </a></span>
		</p>

	</footer>

<!-- start: JavaScript-->

		<script src="http://localhost:3000/js/jquery-1.9.1.min.js"></script>
	<script src="http://localhost:3000/js/jquery-migrate-1.0.0.min.js"></script>

		<script src="http://localhost:3000/js/jquery-ui-1.10.0.custom.min.js"></script>

		<script src="http://localhost:3000/js/jquery.ui.touch-punch.js"></script>

		<script src="http://localhost:3000/js/modernizr.js"></script>

		<script src="http://localhost:3000/js/bootstrap.min.js"></script>

		<script src="http://localhost:3000/js/jquery.cookie.js"></script>

		<script src="http://localhost:3000/js/fullcalendar.min.js"></script>

		<script src="http://localhost:3000/js/jquery.dataTables.min.js"></script>

		<script src="http://localhost:3000/js/excanvas.js"></script>

	<script src="http://localhost:3000/js/jquery.flot.js"></script>
	<script src="http://localhost:3000/js/jquery.flot.pie.js"></script>
	<script src="http://localhost:3000/js/jquery.flot.stack.js"></script>
	<script src="http://localhost:3000/js/jquery.flot.resize.min.js"></script>

		<script src="http://localhost:3000/js/jquery.chosen.min.js"></script>

		<script src="http://localhost:3000/js/jquery.uniform.min.js"></script>

		<script src="http://localhost:3000/js/jquery.cleditor.min.js"></script>

		<script src="http://localhost:3000/js/jquery.noty.js"></script>

		<script src="http://localhost:3000/js/jquery.elfinder.min.js"></script>

		<script src="http://localhost:3000/js/jquery.raty.min.js"></script>

		<script src="http://localhost:3000/js/jquery.iphone.toggle.js"></script>

		<script src="http://localhost:3000/js/jquery.uploadify-3.1.min.js"></script>

		<script src="http://localhost:3000/js/jquery.gritter.min.js"></script>

		<script src="http://localhost:3000/js/jquery.imagesloaded.js"></script>

		<script src="http://localhost:3000/js/jquery.masonry.min.js"></script>

		<script src="http://localhost:3000/js/jquery.knob.modified.js"></script>

		<script src="http://localhost:3000/js/jquery.sparkline.min.js"></script>

		<script src="http://localhost:3000/js/counter.js"></script>

		<script src="http://localhost:3000/js/retina.js"></script>

		<script src="http://localhost:3000/js/custom.js"></script>
	<!-- end: JavaScript-->
