<!DOCTYPE html>
<html lang="en">

<% include ../partials/header %>

<body>
		<!-- start: Header -->
    <% include ../partials/navbar %>
	<!-- start: Header -->

		<div class="container-fluid-full">
		<div class="row-fluid">

			<!-- start: Main Menu -->
      <% include ../partials/sidebar %>
			<!-- end: Main Menu -->


			<!-- start: Content -->
			<div id="content" class="span10">

      <div class="row-fluid sortable">
            <div class="box span12">
              <div class="box-header" data-original-title>
                  <h2><i class="halflings-icon plus-sign"></i><span class="break"></span>Add new Event</h2>
                <div class="box-icon">
                  <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                  <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                  <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>

                </div>
              </div>


              <div class="box-content">


              <form class="form-horizontal" action="http://localhost:3000/event/add" method="post">
                  <fieldset>

                    <div class="control-group">
                      <label class="control-label" for="e_name">Name</label>
                      <div class="controls">
                        <input class="input-xlarge focused" name="e_name" id="e_name" type="text" value="" placeholder="event name">
                      </div>
                    </div>

                    <div class="control-group">
      							  <label class="control-label" for="e_start_date">Start Date</label>
        							  <div class="controls">
        								     <input type="text" name="e_start_date" class="input-xlarge datepicker" id="e_start_date" value="" placeholder="start date">
        							  </div>
  							   </div>

                   <div class="control-group">
                     <label class="control-label" for="e_end_date">End Date</label>
                       <div class="controls">
                            <input type="text" name ="e_end_date" class="input-xlarge datepicker" id="e_end_date" value="" placeholder="closing date">
                       </div>
                  </div>


                  <div class="control-group">
                  <label class="control-label" for="e_location">Venue</label>
                        <div class="controls">
                          <input class="input-xlarge focused" name="e_location" id="e_location" type="text" value="" placeholder="Event location">
                        </div>
                  </div>


                    <div class="control-group">
                      <label class="control-label" for="e_desc">Description</label>
                          <div class="controls">
                              <!--textarea name="e_desc" class="" id="textarea2" rows="3"></textarea-->
                              <textarea name="e_desc" class="cleditor" id="textarea2" rows="3"></textarea>
                          </div>
                    </div>



                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-warning">Cancel</button>
                    </div>

                  </fieldset>
                </form>

              </div>


            </div><!--/span-->

          </div><!--/row-->

	</div><!--/.fluid-container-->

			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->

	<div class="clearfix"></div>

    <% include ../partials/footer %>
</body>
</html>
